body {
    background: #EDF1F3;
}

a {
    color: #113cda;
}

.container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.login-content {
    height: 500px;
    width: 482px;
    padding: 50px 40px 0 40px;
    border-radius: 8px;
    background: #FFFFFF;
}

.login-title {
    font-size: 38px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin: 1em 0;
}

.userName,
.ask,
.result {
    height: 40px;
    width: 380px;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    background: #f9f9f9;
}

.login-content>form>label:nth-child(4) {
    display: inline-block;
}

.ask {
    margin-left: 1em;
    display: inline-block;
    width: 200px;
    height: 28px;
    color: rgb(44, 42, 42);
    border: 1px solid gray;
    background: #fff;
}

.register {
    text-align: right;
    margin: 14px 30px;
    display: block;
}

.goLogin {
    margin-top: 1em;
    height: 40px;
    width: 380px;
    color: white;
    font-size: 20px;
    border: none;
    background: #0B2FB5;
}

.goLogin:hover {
    background: #113CDA;
}