<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>公告栏显示</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/bulletin_show.css">
    <script src="//at.alicdn.com/t/font_1832021_gsf770fm0mb.js"></script>
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="showArticle.html">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <!-- <a class="portrait" href="javascript:;"><img src="../upload/user.jpg" alt=""></a> -->
                <!-- <a class="user-name" href="javascript:;">努力了吗梁同学</a> -->
                <a href="login.html" class="login">登录</a> /
                <a href="register.html" class="register">注册</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="bulletin-container">
        <div class="bulletin-title">我是文章标题</div>
        <p>
            <span class="time">2020年</span><span class="day">6月10日</span>
        </p>
        <div class="bulletin-content">
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
            <p>我是文章内容</p>
        </div>
        <a href="index.html">返回</a>
    </div>
</body>

</html>