<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>找回密码</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/forget_password.css">
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="showArticle.html">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <a class="portrait" href="javascript:;"><img src="../upload/user.jpg" alt=""></a>
                <a class="user-name" href="javascript:;">努力了吗梁同学</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="container">
        <div class="login-content">
            <form action="" method="POST">
                <div class="login-title">找回密码</div>
                <label for="userName">账号：</label>
                <input id="userName" class="userName" name="userName" type="text" placeholder="输入账号">
                <label for="ask">密保问题:</label>
                <input id="ask" class="ask" name="ask" type="text" value="你喜欢的人的名字" disabled>
                <label for="result">密保答案：</label>
                <input id="result" class="result" name="result" type="text" placeholder="请输入密保答案">
                <button class="goLogin" type="submit">提交</button>
            </form>
        </div>
    </div>
</body>

</html>