<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="//at.alicdn.com/t/font_1832021_gsf770fm0mb.js"></script>
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="showArticle.html">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <!-- <a class="portrait" href="javascript:;"><img src="../upload/user.jpg" alt=""></a> -->
                <!-- <a class="user-name" href="javascript:;">努力了吗梁同学</a> -->
                <a href="login.html" class="login">登录</a> /
                <a href="register.html" class="register">注册</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="w container">
        <main class="plateMain">
            <div class="plate">
                <header>表白墙
                    <svg class="icon hidden" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <svg class="icon up" aria-hidden="true">
                        <use xlink:href="#icon-up"></use>
                    </svg>
                </header>
                <div class="content">
                    <ul>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="plate">
                <header>寻物启事
                    <svg class="icon hidden" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <svg class="icon up" aria-hidden="true">
                        <use xlink:href="#icon-up"></use>
                    </svg>
                </header>
                <div class="content">
                    <ul>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle" href="article.html">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="plate">
                <header>个人展
                    <svg class="icon hidden" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <svg class="icon up" aria-hidden="true">
                        <use xlink:href="#icon-up"></use>
                    </svg>
                </header>
                <div class="content">
                    <ul>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="plate">
                <header>寻物启事
                    <svg class="icon hidden" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <svg class="icon up" aria-hidden="true">
                        <use xlink:href="#icon-up"></use>
                    </svg>
                </header>
                <div class="content">
                    <ul>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="plate">
                <header>寻物启事
                    <svg class="icon hidden" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <svg class="icon up" aria-hidden="true">
                        <use xlink:href="#icon-up"></use>
                    </svg>
                </header>
                <div class="content">
                    <ul>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                        <li>
                            <div>
                                <a id="plateTitle">表白16网络高级2班全体男生</a>
                            </div>
                            <a id="plateName">努力了吗梁同学</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <!-- bulletin -->
        <aside class="bulletin">
            <header>公告栏</header>
            <div class="content">

            </div>
        </aside>
        <!-- hotArticle -->
        <aside class="hotArticle">
            <header>热帖</header>
            <div class="content">
                <ul>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                    <li><a href="javascript:;">表白机电所有女生</a></li>
                </ul>
            </div>
        </aside>
    </div>

</body>

</html>