<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="showArticle.html">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <a class="portrait" href="javascript:;"><img src="../upload/user.jpg" alt=""></a>
                <a class="user-name" href="javascript:;">努力了吗梁同学</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="container">
        <div class="login-content">
            <form action="" method="POST">
                <div class="login-title">登录</div>
                <input class="userName" name="userName" type="text" placeholder="请输入账号">
                <a class="register" href="register.html">注册账号</a>
                <input class="password" name="password" type="password" placeholder="请输入密码">
                <a class="forgetPassword" href="javascript:;">忘记密码</a>
                <button class="goLogin" type="submit">登录</button>
            </form>
        </div>
    </div>
</body>

</html>