<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/info_base.css">
    <link rel="stylesheet" href="../css/people_article.css">
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="showArticle.html">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <a class="portrait" href="javascript:;"><img src="../upload/user.jpg" alt=""></a>
                <a class="user-name" href="javascript:;">努力了吗梁同学</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <main class="info-container">
        <div class="info-left">
            <div class="info-top">
                <img src="../upload/user.jpg" alt="">
                <span>努力了吗梁同学</span><em>, 你好</em>
                <div><a href="index.html">退出登录</a></div>
            </div>
            <div class="info-bottom">
                <a href="people_info.html">个人资料</a>
                <a href="people_image.html">头像设置</a>
                <a href="people_password.html">修改密码</a>
                <a class="info-selector" href="javascript:;">个人帖子</a>
            </div>
        </div>
        <div class="info-right">
            <h2>个人帖子</h2>
            <div class="listArticle">
                <a href="article.html">
                    <h2>表白16网络高级2班全体男生</h2>
                </a>
                <div class="content">
                    <a href="article.html">
                        <div class="content-inner">
                            因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。
                            浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。
                            不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                            如果你有着一颗浪漫的心，那么你会发现浪漫竟然如此简单，不过是你轻轻稍微的倾斜，浪漫就会猛扑你的心田。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            我的浪漫属于心中的浪漫，属于偶然，属于不经意间。
                            追求的浪漫是天性使然，是我心中的触感。
                            所以浪漫是稍微一点点的感觉，加上一丝丝的`偶然。
                            所以，你的浪漫？
                        </div>
                    </a>
                    <div class="content-actions">
                        <span>发布时间：</span> <em>2020年6月6日</em> <a href="javascript:;">[删除]</a> <a href="javascript:;">评论 <i>11</i></a>
                    </div>
                </div>
            </div>
            <div class="listArticle">
                <a href="article.html">
                    <h2>表白16网络高级2班全体男生</h2>
                </a>
                <div class="content">
                    <a href="article.html">
                        <div class="content-inner">
                            因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。
                            浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。
                            不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                            如果你有着一颗浪漫的心，那么你会发现浪漫竟然如此简单，不过是你轻轻稍微的倾斜，浪漫就会猛扑你的心田。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            我的浪漫属于心中的浪漫，属于偶然，属于不经意间。
                            追求的浪漫是天性使然，是我心中的触感。
                            所以浪漫是稍微一点点的感觉，加上一丝丝的`偶然。
                            所以，你的浪漫？
                        </div>
                    </a>
                    <div class="content-actions">
                        <span>发布时间：</span> <em>2020年6月6日</em> <a href="javascript:;">[删除]</a> <a href="javascript:;">评论 <i>11</i></a>
                    </div>
                </div>
            </div>
            <div class="listArticle">
                <a href="article.html">
                    <h2>表白16网络高级2班全体男生</h2>
                </a>
                <div class="content">
                    <a href="article.html">
                        <div class="content-inner">
                            因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。
                            浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。
                            不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                            如果你有着一颗浪漫的心，那么你会发现浪漫竟然如此简单，不过是你轻轻稍微的倾斜，浪漫就会猛扑你的心田。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            我的浪漫属于心中的浪漫，属于偶然，属于不经意间。
                            追求的浪漫是天性使然，是我心中的触感。
                            所以浪漫是稍微一点点的感觉，加上一丝丝的`偶然。
                            所以，你的浪漫？
                        </div>
                    </a>
                    <div class="content-actions">
                        <span>发布时间：</span> <em>2020年6月6日</em> <a href="javascript:;">[删除]</a> <a href="javascript:;">评论 <i>11</i></a>
                    </div>
                </div>
            </div>
            <div class="listArticle">
                <a href="article.html">
                    <h2>表白16网络高级2班全体男生</h2>
                </a>
                <div class="content">
                    <a href="article.html">
                        <div class="content-inner">
                            因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。
                            浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。
                            不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                            如果你有着一颗浪漫的心，那么你会发现浪漫竟然如此简单，不过是你轻轻稍微的倾斜，浪漫就会猛扑你的心田。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            我的浪漫属于心中的浪漫，属于偶然，属于不经意间。
                            追求的浪漫是天性使然，是我心中的触感。
                            所以浪漫是稍微一点点的感觉，加上一丝丝的`偶然。
                            所以，你的浪漫？
                        </div>
                    </a>
                    <div class="content-actions">
                        <span>发布时间：</span> <em>2020年6月6日</em> <a href="javascript:;">[删除]</a> <a href="javascript:;">评论 <i>11</i></a>
                    </div>
                </div>
            </div>
            <div class="listArticle">
                <a href="article.html">
                    <h2>表白16网络高级2班全体男生</h2>
                </a>
                <div class="content">
                    <a href="article.html">
                        <div class="content-inner">
                            因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。
                            浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。
                            不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                            如果你有着一颗浪漫的心，那么你会发现浪漫竟然如此简单，不过是你轻轻稍微的倾斜，浪漫就会猛扑你的心田。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            什么才是真正的浪漫。
                            我的浪漫属于心中的浪漫，属于偶然，属于不经意间。
                            追求的浪漫是天性使然，是我心中的触感。
                            所以浪漫是稍微一点点的感觉，加上一丝丝的`偶然。
                            所以，你的浪漫？
                        </div>
                    </a>
                    <div class="content-actions">
                        <span>发布时间：</span> <em>2020年6月6日</em> <a href="javascript:;">[删除]</a> <a href="javascript:;">评论 <i>11</i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>