<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/info_base.css">
    <link rel="stylesheet" href="../css/people_password.css">
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="showArticle.html">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <a class="portrait" href="people_image.html"><img src="../upload/user.jpg" alt=""></a>
                <a class="user-name" href="people_info.html">努力了吗梁同学</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <main class="info-container">
        <div class="info-left">
            <div class="info-top">
                <img src="../upload/user.jpg" alt="">
                <span>努力了吗梁同学</span><em>, 你好</em>
                <div><a href="index.html">退出登录</a></div>
            </div>
            <div class="info-bottom">
                <a href="people_info.html">个人资料</a>
                <a href="people_image.html">头像设置</a>
                <a class="info-selector" href="javascript:;">修改密码</a>
                <a href="people_article.html">个人帖子</a>
            </div>
        </div>
        <div class="info-right">
            <h2>修改密码</h2>
            <form id="info-form" action="" method="POST">
                <div>
                    <span>账号：</span>
                    <input type="text" value="3415301508" disabled>
                </div>
                <div>
                    <span>旧密码：</span>
                    <input type="password">
                </div>
                <div>
                    <span>新密码：</span>
                    <input type="password">
                </div>
                <div>
                    <span>确认密码：</span>
                    <input type="password">
                </div>
                <button class="sub" type="button">确认提交</button>
            </form>
        </div>
    </main>
</body>

</html>