<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理页面</title>
    <link rel="stylesheet" href="../css/base_manage.css">
    <link rel="stylesheet" href="../css/admin_show_user.css">
    <script src="//at.alicdn.com/t/font_1832021_yby6d8z4gsp.js"></script>
</head>

<body>
    <!-- header-top -->
    <header class="head-top clearfix">
        <div class="logo"></div>
        <div class="user"><a href=""><img src="../upload/user.jpg" alt=""></a></div>
        <div class="div-people"><a href="javascript:;">个人中心</a></div>
        <div class="time">当前时间:<span>2020-05-28 13:36:10</span></div>
        <div class="now-user">当前用户<span>梁又文</span></div>
    </header>
    <!-- container -->
    <div class="container">
        <!-- nav-aside -->
        <aside class="nav-aside">
            <div class="top-title">导航菜单</div>
            <ul>
                <li>
                    <div class="aside-title">用户管理</div>
                    <ul>
                        <li><a href="admin_show_user.html">查看用户</a></li>
                </li>
            </ul>
            </li>
            <li>
                <div class="aside-title">板块管理</div>
                <ul>
                    <li><a href="admin_section.html">查看板块</a></li>
                    <li><a href="admin_father_section.html">父板块添加</a></li>
                    <li><a href="admin_son_section.html">子版块添加</a></li>

                </ul>
            </li>
            <li>
                <div class="aside-title">公告栏管理</div>
                <ul>
                    <li><a href="admin_bulletin.html">查看公告栏</a></li>
                </ul>
            </li>
            <li>
                <div class="aside-title">帖子管理</div>
                <ul>
                    <li><a href="javascript:;" class="li-select">查看帖子</a></li>
                </ul>
            </li>
            </ul>
        </aside>
        <!-- main -->
        <main class="content">
            <table>
                <caption>
                    <h2>查看用户</h2>
                    <form action="" class="search-user">
                        <input type="text" name="user-content" id="user-content" class="user-content">
                        <button type="submit">搜索</button>
                    </form>
                </caption>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>子版块</td>
                        <td>标题</td>
                        <td>发布时间</td>
                        <td>发帖人</td>
                        <td>访问次数</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>表白墙</td>
                        <td>表白机电所有女生</td>
                        <td>2020-05-28</td>
                        <td>梁又文</td>
                        <td>400</td>
                        <td>
                            <svg class="icon ic-edit" aria-hidden="true">
                                <use xlink:href="#icon-edit"></use>
                            </svg>
                            <svg class="icon ic-delete" aria-hidden="true">
                                <use xlink:href="#icon-delete"></use>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>

</body>

</html>