<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理页面</title>
    <link rel="stylesheet" href="../css/base_manage.css">
    <link rel="stylesheet" href="../css/admin_manage.css">
</head>
<body>
    <!-- header-top -->
    <header class="head-top clearfix">
        <div class="logo"></div>
        <ul class="nav">
            <li><a href="javascript:;">首页</a></li>
            <li><a href="javascript:;">查看学生</a></li>
            <li><a href="javascript:;">查看管理员</a></li>
        </ul>
        <div class="user"><a href=""><img src="../upload/user.jpg" alt=""></a></div>
        <div class="div-people"><a href="javascript:;">个人中心</a></div>
        <div class="time">当前时间:<span>2020-05-28 13:36:10</span></div>
        <div class="now-user">当前用户<span>梁又文</span></div>
    </header>
    <!-- nav-aside -->
    <aside class="nav-aside">
        <div>导航菜单</div>
        <dl>
            <dt></dt>
            <dd></dd>
        </dl>
    </aside>
</body>
</html>