* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background: rgb(240, 240, 240);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

table {
    margin: 0 auto;
    background: #fff;
}

table,
td {
    padding: .4em 1em;
    min-width: 100px;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* header-top */
.head-top {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1100px;
    background: #5D60B3;
    color: #fff;
    z-index: 11;
}

.head-top a {
    color: #fff;
}

.head-top a:hover {
    color: rgb(197, 194, 194);
}

.logo {
    float: left;
    margin: 0 20px;
    width: 100px;
    height: 50px;
    background: #5D60B3;
}

.now-user {
    float: right;
    padding: 0 1em;
    height: 50px;
    line-height: 50px;
}

.now-user span {
    margin-left: .5em;
}

.time {
    float: right;
    padding: 0 1em;
    height: 50px;
    line-height: 50px;
}

.div-people {
    float: right;
}

.div-people a {
    display: block;
    padding: 0 1em;
    height: 50px;
    line-height: 50px;
}

.user {
    float: right;
    margin: 4px;
    margin-right: 2em;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.user img {
    width: 100%;
}

/* container */
.container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    min-width: 1100px;
}

/* nav-aside */
.nav-aside {
    position: fixed;
    top: 0;
    float: left;
    padding-top: 50px;
    height: 100%;
    background: #5D60B3;
}

.top-title {
    padding: .7em 0;
    width: 140px;
    text-align: center;
    color: #fff;
    background: rgb(69, 70, 121);
}

.nav-aside>ul>li {
    width: 140px;
    text-align: center;
}

.nav-aside li>div {
    padding: .7em 0;
    width: 140px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #B8BAFF;
}

.nav-aside li>ul>li>a {
    display: block;
    padding: .7em 0;
    width: 140px;
    text-align: center;
    color: #000;
    background: #fff;
}

.nav-aside li>ul>li>a:hover {
    border-left: 4px solid green;
    background: pink;
}

.nav-aside .li-select {
    border-left: 4px solid green;
    background: pink;
}

/* main */
main {
    float: left;
    padding: 2em;
    margin-left: 140px;
    flex: 1;
    height: 5000px;
    background: #fff;
}

/* icon */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon:hover {
    color: rgb(117, 117, 179);
}

.ic-edit {
    margin-right: 10px;
}