<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我是文章的标题</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/article.css">
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="w">
            <div class="logo"></div>
            <nav class="top-nav">
                <ul>
                    <li><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">公共栏</a></li>
                    <li><a href="javascript:;">表白墙</a></li>
                    <li><a href="javascript:;">寻物启事</a></li>
                    <li><a href="javascript:;">讨论区</a></li>
                    <li><a href="javascript:;">个人展</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <a class="portrait" href="javascript:;"><img src="upload/user.jpg" alt=""></a>
                <a class="user-name" href="javascript:;">努力了吗梁同学</a>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="请输入你想搜索的内容" name="" id="">
                    <button type="submit">搜索</button>
                </form>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- main start -->
    <main class="main w">
        <ul>
            <!-- 楼主 -->
            <li class="article-author">
                <div class="article-left">
                    <div class="author-hd">
                        <a href="javascript:;"><img src="upload/user.jpg" alt=""></a>
                        <div class="author-info">
                            <a>
                                <div>努力了吗梁同学</div>
                            </a>
                            <div>16网络高级2班</div>
                        </div>
                        <div class="control">
                            <a href="javascript:;">TA的主页</a>
                            <a href="javascript:;">联系TA</a>
                        </div>
                    </div>
                    <div class="author-bd">
                        <h3>TA的相关文章</h3>
                        <ul>
                            <li><a href="javascript:;">表白16网络高级2班全体男生</a></li>
                            <li><a href="javascript:;">最近疫情期间过得还好？</a></li>
                            <li><a href="javascript:;">大家是不是还在家里咸鱼</a></li>
                            <li><a href="javascript:;">大家是不是还在家里咸鱼</a></li>
                            <li><a href="javascript:;">大家是不是还在家里咸鱼</a></li>
                        </ul>
                    </div>
                </div>
                <div class="article-right">
                    <header class="art-hd">
                        <h3>表白16网络高级2班全体男生</h3>
                        <div class="art-info">
                            <span>2020年5月6日 10:17</span>
                            <span>浏览：10</span>
                            <span><a href="javascript:;">努力了吗梁同学</a></span>
                        </div>
                    </header>
                    <article class="art-content">
                        <p>因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。</p>
                        <p>浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>如果你有着一颗浪漫的心，那么你会发现浪漫竟然如此简单，不过是你轻轻稍微的倾斜，浪漫就会猛扑你的心田。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>什么才是真正的浪漫。</p>
                        <p>我的浪漫属于心中的浪漫，属于偶然，属于不经意间。</p>
                        <p>追求的浪漫是天性使然，是我心中的触感。</p>
                        <p>所以浪漫是稍微一点点的感觉，加上一丝丝的`偶然。</p>
                        <p>所以，你的浪漫？</p>
                    </article>
                </div>
            </li>
            <!-- 回复 -->
            <li class="article-reply">
                <div class="reply-left">
                    <a href="javascript:;"><img src="upload/user2.jpg" alt=""></a>
                    <div class="ry-info">
                        <a>
                            <div>天子饺子</div>
                        </a>
                        <div>16网络高级2班</div>
                    </div>
                    <div class="control">
                        <a href="javascript:;">TA的主页</a>
                        <a href="javascript:;">联系TA</a>
                    </div>
                </div>
                <div class="reply-right">
                    <article class="reply-content">
                        <p>因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。</p>
                        <p>浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                        </p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                    </article>
                    <div class="reply-info">
                        <span>2020年5月6日 10:17</span>
                        <span>天子骄子</span>
                    </div>
                </div>
            </li>
            <li class="article-reply">
                <div class="reply-left">
                    <a href="javascript:;"><img src="upload/user2.jpg" alt=""></a>
                    <div class="ry-info">
                        <a>
                            <div>法法</div>
                        </a>
                        <div>16网络高级2班</div>
                    </div>
                    <div class="control">
                        <a href="javascript:;">TA的主页</a>
                        <a href="javascript:;">联系TA</a>
                    </div>
                </div>
                <div class="reply-right">
                    <article class="reply-content">
                        <p>因为心中有着浪漫，所以能在浪漫间徘徊，你只需轻轻一触，就能够感觉到他。</p>
                        <p>浪漫，不是最浪漫，也不是稍微浪漫，只是在心间、脑海中、思想里的甜蜜感，让人愉悦的触感，直至余韵也未然。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。
                        </p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                        <p>不要刻意的去追求浪漫，那样不是你心中的浪漫，心中的浪漫来自于偶然，不经意间的小动作，会让你高高兴兴半天。</p>
                    </article>
                    <div class="reply-info">
                        <span>2020年5月6日 10:17</span>
                        <span>天子骄子</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <!-- main end -->
</body>

</html>